body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   background:linear-gradient(
     to left,
     rgb(7, 26, 80) 6%,
     rgba(0,128,128,1) 90%
   );

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-family: 'Bigelow Rules', cursive;
    color: #95dada;
  font-size:xx-large;
  font-size:4em;
}